@page :right {
    @bottom-right {
        content: "Copyright © 2019 NCCER. Permission is granted to reproduce this page provided that copies are for local use only and that each copy contains this notice.";
    }
}

@page :left {
    @bottom-left {
        content: "Copyright © 2019 NCCER. Permission is granted to reproduce this page provided that copies are for local use only and that each copy contains this notice.";
    }
}
